section.about.dark
	#about.anchor
	.about-wrapper
		.title
			h2.decorate.decorate_dark О нас
		h3 Бюро переводов 
			span.style-blue «RuText Games»
		.about-content
			p Почти все переводчики и редакторы работают на аутсорсе, кроме одного штатного переводчика для небольших срочных работ в течение дня. Автоматизация «RuText Games» реализована в виде настроенных баг-трекеров, памяти переводов Memsource и инструментов AutoQA. Качество обеспечивают два выделенных QA-менеджера и HR, в основе системы — тестирование и спот-чеки.
			p Наша цель — не просто сделать точный перевод, но и сохранить атмосферу и стиль игры. 165 клиентов по всему миру, мы сотрудничаем с компаниями любого размера и находим решения как для небольших локальных задач, так и для комплексных проектов, выстроенных по пожеланиям клиента. 