.controls
	input(type="checkbox" id="check-ui" name="check-ui")
	label(for="check-ui")
		span.small Отправляя форму вы соглашаетесь с 
		a(href="").small политикой конфиденциальности


.controls
	input(type="radio" id="radio-ui" name="check-ui")
	label(for="radio-ui")
		span.small Отправляя форму вы соглашаетесь с 
		a(href="#").small политикой конфиденциальности