section.exp
	.container
		.title
			h2.decorate
				| Большой опыт локализации игр </br>к вашим услугам
		.exp-wrapper
			div
				h5
					| На протяжении многих лет мы 
					| зарекомендовали себя на рынке 
					| игровой индустрии
				p Мы работаем с издателями и разработчиками игр, локализуем мобильные, десктопные, консольные, браузерные и настольные игры на более чем 70 языков.
				p Все переводы выполняются профессиональными переводчиками-носителями языка с игровым опытом.
				p Помимо перевода непосредственно строковых ресурсов, мы также переводим описания.
				button.btn.btn__start Заказать локализацию игры
					span.btn.btn__end
			div
				img(src="./assets/images/exp-pic.png", alt="")
		.exp-footer
			img(src="/assets/images/brand-1.png", alt="")
			img(src="/assets/images/brand-2.png", alt="")
			img(src="/assets/images/brand-3.png", alt="")
			img(src="/assets/images/brand-4.png", alt="")
			img(src="/assets/images/brand-5.png", alt="")
			img(src="/assets/images/brand-6.png", alt="")
