footer.footer
	.footer-top
		.container
			.logo
				img(src="/assets/images/logo.svg", alt="")
			ul.nav
				li
					a(href="#services") Услуги
				li
					a(href="#localization") Локализация
				li
					a(href="#projects") Проекты
				li
					a(href="#feedBack") Обратная связь
				li
					a(href="#about") О нас
			ul.contacts
				li
					a(href="tel:+74991136061")
						img(src="/assets/images/phone.svg", alt="")
						span +7 (499) 113-60-61 
				li
					a(href="mailto:info@rutext.su") 
						img(src="/assets/images/mail.svg", alt="")
						span info@rutext.su
				li
					a(href="#")
						img(src="/assets/images/point.svg", alt="")
						span г. Старый Оскол, мкр. Северный, д. 33
				li
					a(href="").fb-find-us
						img(src="/assets/images/fb.svg", alt="")
	.footer-bottom
		.container
			.footer-bottom-wrap
				.footer-left
					p.small © Copyright 2017−2020  «Rutext Games»
				.footer-right
					img(src="/assets/images/ru.svg", alt="")