.header
	.menu
		.menu-header
			button
				img(src="/assets/images/fb.svg", alt="")
			button.close-button
				img(src="/assets/images/close.svg", alt="")
		.menu-content
			a(href="#services") Услуги
			a(href="#localization") Локализация
			a(href="#projects") Проекты
			a(href="#feedBack") Обратная связь
			a(href="#about") О нас
		.menu-footer
			ul
				li
					img(src="/assets/images/phone.svg", alt="")
					a(href="tel:+74991136061") +7 (499) 113-60-61 
				li
					img(src="/assets/images/mail.svg", alt="")
					a(href="mailto:info@rutext.su") info@rutext.su
				li
					img(src="/assets/images/point.svg", alt="")
					span г. Старый Оскол, мкр. Северный, д. 33
	.parallax-container
		.container
			.row
				.top
					.logo
						img(src="/assets/images/logo.svg", alt="")
					nav.nav.small
						button.nav-button
							img(src="/assets/images/nav.svg", alt="")
						.nav-wrapper
							a(href="#services") Услуги
							a(href="#localization") Локализация
							a(href="#projects") Проекты
							a(href="#feedBack") Обратная связь
							a(href="#about") О нас
					include ../includes/language.pug
				.center
					h1 Студия 
						span.hide-sm локализации
					span.glitch ИГР
					p
						| Локализация игры является обязательным условием ее <br/>
						| успешного продвижения на зарубежном рынке
					button.btn.btn__start Свяжитесь с нами
		.header-bottom
			.container
				div.bottom-title
					p.small.small_styled RUTEXT games
				.bottom-wrapper
					div
						h4 Наша задача помочь Вам достигнуть большого количества геймеров во всем мире!
					div
						p
							| Мы работаем с издателями и разработчиками игр, локализуем мобильные, десктопные, консольные, браузерные и настольные игры на более чем 70 языков.
						p
							| Все переводы выполняются профессиональными переводчиками-носителями языка с игровым опытом.
						p
							| Помимо перевода непосредственно строковых ресурсов, мы также переводим описания для App Store и Google Play, контент игровых сайтов, обзоры, анонсы и другие материалы





