input(type="text" placeholder="Ваше имя / название вашей компании*")
label.form-field
	input(type="text" placeholder="Ошибка").error
	span.error.error-text.small Неверно заполнено поле
textarea(name="", rows="5")