section.localization.dark
	#localization.anchor
	.container
		.title
			h2.decorate.decorate_dark
				| Что такое локализация </br> в нашей студии?
		.localization-list
			.localization-item
				.localization-image
					img(src="/assets/images/local-1.svg", alt="")
				h5 Перевод квалифицированными переводчиками
				p любящими игры, с использованием </br> современных инструментов и технологий
			.localization-item
				.localization-image
					img(src="/assets/images/local-2.svg", alt="")
				h5 Контроль качества </br> в 4 этапа:
				ul.list-style
					li проверка перевода,
					li автоматический QA,
					li редактирование,
					li финальная проверка менеджером
			.localization-item
				.localization-image
					img(src="/assets/images/local-3.svg", alt="")
				h5 Экономия  средств
				p за счет качественного </br> перевода.
			.localization-item
				.localization-image
					img(src="/assets/images/local-4.svg", alt="")
				h5 Доступность </br> вашей игры
				p пользователям со всего мира
		.localization-footer
			button.btn.btn__start Свяжитесь с нами
				span.btn.btn__end
