section.project.dark
	#project.anchor
	.project-wrapper
		.title
			h2.decorate.decorate_dark Проекты
			p За последние 5 лет мы локализовали более 70 проектов
		.project-tile
			include tile
	.project-footer
		button.btn.btn__start Заказать локализацию игры
			span.btn.btn__end