section.services#services
	.container
		.title
			h2.decorate Наши услуги
		div.services-list
			.service
				.icon.icon__translate
					.icon__bottom
					.icon__top
				h3 Локализация 
				p Мы поможем вашей игре зазвучать на любых языках Европы и Азии! У нас за плечами богатый опыт перевода игр на французский, итальянский, немецкий, испанский, португальский, китайский, японский, корейский, русский и польский языки.
				p В своей работе мы учитываем все тонкости, начиная от терминологии, характерной для той или иной игровой платформы, и заканчивая отличительными особенностями игрового жанра и даже отдельного 
				button.btn.btn__start Заказать услугу
					span.btn.btn__end
			.servcie
				.icon.icon__test
					.icon__bottom
					.icon__top
				h3 Тестирование
				p Доверяй, но проверяй! В игре — как в жизни: какая бы опытная команда профессионалов ни трудилась над локализацией, всегда возможны технические или лингвистические ошибки.
				p Чтобы полностью исключить недочеты в финальном продукте, в игру вступают наши тестировщики. Их задача: выловить баги, проверить совместимость разных версий, устранить неверные подстановки.
				button.btn.btn__start Заказать услугу
					span.btn.btn__end