section
	h1 Заголовок
	h2 Заголовок 48/56
	h3 Заголовок 36/48
	h4 Заголовок 32/48
	h5 Заголовок 24/36
	p.huge
		| Локализация игры является обязательным
		| условием ее успешного продвижения на
		| зарубежном рынке
	p
		| Локализация игры является обязательным
		| условием ее успешного продвижения на
		| зарубежном рынке
	p.small
		| Локализация игры является обязательным
		| условием ее успешного продвижения на
		| зарубежном рынке
	button.btn.btn__start Заказать услугу
		span.btn.btn__end
	.tile__fix
		//- include ../includes/tile.pug
	//- include ../includes/title.pug
	include ../includes/services-icon.pug
	//- .file-wrapper
	//- 	include ../includes/file-upload.pug
	include ../includes/controls.pug
	div
		include ../includes/inputs.pug
	//- div.lang-wrapper
	//- 	include ../includes/language.pug