.about {
	text-align: center;
	.title {
		align-self: center;
	}
	&-wrapper {
		display: grid;
		grid-template-rows: 177px 90px 500px;
	}
	h3 {
		margin-top: 5px;
	}
	&-content {
		width: 570px;
		margin: 0 auto;
		p {
			margin-bottom: 7px;
		}
	}
}