.exp {
	/* padding-top: 130px; */
	background: url(./assets/images/exp.jpg);
	margin-top: -30px;
	padding: 32px 0;
	.container {
		align-items: center;
		display: grid;
		grid-template-rows: minmax(min-content,301px) minmax(min-content,460px) minmax(min-content,270px);
	}
	.title {
		text-align: center;
	}
	&-wrapper {
		display: grid;
		grid-template-columns: .9fr 1.1fr;
		div:first-child {
			padding-left: 100px;
		}
		img {
			margin-top: -40px;
			margin-left: 40px;
		}
	}
	h5 {
		margin-bottom: 30px;
		letter-spacing: .02em;
	}
	p {
		margin-bottom: 10px;
	}
	button {
		margin-top: 40px;
		text-transform: uppercase;
	}
	&-footer {
		display: flex;
		justify-content: space-between;
		img {
			align-self: center;
			height: 100%;
		}
		padding: 0 100px;
	}
}