.file-wrapper {
}
#drop-area {
	.file-wrapper {
		position: relative;
		border: 3px dashed var(--color-bright-cerulean-alpha);
		background-image: url(./assets/images/dragBg.svg);
		background-repeat: no-repeat;
		background-size: cover;
		padding: 197px 10px 97px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 10px;
	}
	&.highlight {
		background-color: var(--color-bright-cerulean-alpha);
	}
	p {
		margin-top: 0;
	}
	#gallery {
		margin-top: 10px;
		img {
			width: 150px;
			margin-bottom: 10px;
			margin-right: 10px;
			vertical-align: middle;
		}
	}
	.button {
		margin-top: 18px;
		font-family: var(--regType);
		display: inline-block;
		color: var(--color-bright-navy-blue);
		background: transparent;
		cursor: pointer;
		border: none;
		position: relative;
		display: inline-block;
		&:after {
			content: "";
			width: auto;
			height: 1px;
			border-bottom: dashed 1px var(--color-bright-navy-blue);
			color: var(--color-bright-navy-blue);
			display: block;
		}
	}
	#fileElem {
		display: none;
	}
	progress {
		display: block;
		width: 100%;
		position: absolute;
		bottom: 0;
		top: auto;
		left: 0;
		right: 0;
		opacity: 0;
		&.show {
			opacity: 1;
		}
	}
}


