extends layout

block header
	include includes/header
block content
	include includes/services
	include includes/localization
	include includes/exp
	include includes/pj
	include includes/feed-back
	include includes/about
	include includes/footer
